services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ats
      POSTGRES_USER: ats_user
      POSTGRES_PASSWORD: ats_pass
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  backend:
    build: ./backend
    environment:
      DATABASE_URL: postgresql+psycopg2://ats_user:ats_pass@db:5432/ats
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/0
      JWT_SECRET: change_me
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    volumes:
      - ./backend:/app

  worker:
    build: ./backend
    user: "1000:1000"
    command: celery -A app.workers.celery_app.celery_app worker -l info
    environment:
      DATABASE_URL: postgresql+psycopg2://ats_user:ats_pass@db:5432/ats
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/0
      JWT_SECRET: change_me
    depends_on:
      - db
      - redis
    volumes:
      - ./backend:/app

volumes:
  db_data:
